<html>
	<head>
		<link rel='stylesheet' href='./css/bootstrap.min.css'/>
	</head>
	<body>
	<div class='container'>
	<select>
		{% for hotel in Hotels %}
			<option>{{hotel.name}}</option>
		{% endfor %}
	</select>
</div>

		<div class='container'>
			<select>
				{% for restaurant in Restaurants %}
					<option> {{ restaurant.name }}</option>
				{% endfor %}
			</select>		
		</div>

		<div class='container'>
			<select>
				{% for activity in Activities%}
					<option> {{activity.name }} </option>
				{% endfor %}
			</select>
		</div>
	</body>
</html>
